.navbar, .navbar-toggler:focus, .collapsed, button.navbar-toggler {
  background: $navbarColor !important;
  border: none;
  a {
    color: white !important;
  }
}

nav {
  .navbar {
    width: 100%;
    button, .navbar-brand {
      transition: opacity 0.15s;
    }
    button {
      margin-right: 0;
    }
    button:hover, .navbar-brand:hover {
      opacity: 0.8;
    }
  }
}
.page {
 margin-top: 2%;
}
